<div class="message-input" style="margin: 50px 0 30px 20px;">
  <input style="width: 300px;" id="message-input" placeholder="Please type a message here..."></input>
  <button id="message-submit">Submit</button>
<div>

<div id="messages-display" style="margin: 30px 0 30px 20px;">
  <ul id="messages-list">
  </ul>
</div>
